@use '../../../../lib/styles/variables' as *;

.header-container {
  @include font-display-header;
  height: 56px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--background);

  a.active {
    background: linear-gradient(45deg, $VIOLET, $FUCHSIA, $VIOLET);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  a:first-child {
    padding-right: 10px;
  }
}
