@use '../../../../lib/styles/variables' as *;

.search-container {
  .ant-btn {
    background: $VIOLET;

    &.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
      background: $VIOLET;
      opacity: 0.7;
    }
  }

  .ant-input {
    padding: 3px 11px;
  }

  .ant-input-compact-item {
    &:hover,
    &:focus {
      border-color: $VIOLET;
    }
  }
}
