@use '../../../../lib/styles/variables' as *;

.search-container {
  .ant-btn {
    background: $VIOLET;
  }

  .ant-input {
    padding: 3px 11px;
  }

  .ant-input-compact-item {
    &:hover,
    &:focus {
      border-color: $VIOLET;
    }
  }
}
