@use '../../../../lib/styles/variables' as *;

.search-container {
  .search-btn {
    background: $VIOLET;

    &:not(:disabled):not(.ant-btn-disabled):hover {
      background: $VIOLET;
      opacity: 0.7;
    }
  }

  .search-input {
    padding: 3px 11px;

    &:hover,
    &:focus {
      border-color: $VIOLET;
    }
  }
}
