{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "endOfLine": "auto",
  "importOrder": [
    "^react$",
    "^next",
    "^antd$",
    "^@ant-design",
    "^@?\\w",
    "^@/app/(.*)$",
    "^@/assets/(.*)$",
    "^@/constants/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
