@use '../../../../lib/styles/variables' as *;

.status-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background: initial;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    color: $VIOLET;
    opacity: 0.8;
    line-height: 2rem;

    .link-container {
      color: $WHITE;
      &:hover {
        color: $LIGHT_GRAY;
      }
    }
  }
}
