@use '../../../../lib/styles/variables' as *;

.trending-container {
  @include font-display-header;
  margin-top: 3rem;
  margin-bottom: 3rem;

  h4 {
    margin-bottom: 1.5rem;
  }

  .movies-container {
    display: flex;

    .show-more-btn button {
      margin-left: 0;
    }

    .movie-card-container {
      justify-content: flex-start;

      .bg-image {
        border-radius: 6px;
        box-shadow: 0 0 10px $WHITE;
      }
      .overlay {
        border-radius: 6px;
      }
    }

    .single {
      border-radius: 6px;
      width: 782px;

      .movie-card-container {
        position: absolute;
        width: 457px;
        height: 686px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 7rem;
        background-size: contain;
      }
    }

    .grid-list {
      .movie-card-container {
        height: 336px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 1rem;

        .description {
          margin-left: 1.5rem;
          .name {
            font-size: $FONT_SIZE_M;
          }
          .year-country,
          .genres,
          .show-more-btn button {
            font-size: $FONT_SIZE_XS;
          }

          .show-more-btn button {
            margin-left: 0;
          }
        }
      }
    }

    .poster {
      display: none;
    }
  }
}
