@use '../lib/styles/variables' as *;

:root,
html {
  --background: #0a0a0a;
}

html {
  max-width: 1300px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  font-family: $FONT_FAMILY_PRIMARY;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-dots {
  li {
    margin-right: 12px !important;
  }
}

@include mobile {
  html {
    padding: 0;
  }
}
