@use '../lib/styles/variables' as *;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 1300px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $LIGHT_GRAY;
  }
}

button {
  padding: 10px;
  background: linear-gradient(45deg, $VIOLET, $FUCHSIA, $VIOLET) !important;
  &:hover {
    opacity: 0.8;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
