@use '../lib/styles/variables' as *;

:root,
html {
  --background: #0a0a0a;
}

html,
body {
  max-width: 1300px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background: var(--background);
  font-family: $FONT_FAMILY_PRIMARY;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@include mobile {
  html,
  body {
    max-width: 100%;
    min-width: unset;
  }
  html {
    padding: 0;
  }
}
