@use '../../lib/styles/variables' as *;

.movies-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;

  .ant-card {
    box-shadow: 0 0 10px $WHITE;
    cursor: unset;
    position: relative;

    .ant-card-body {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
    }

    .overlay {
      background: $BLACK_OPACITY_80;
      border-radius: 6px;
    }

    .ant-card-cover,
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .description {
      position: relative;
      z-index: 2;
      color: $WHITE;
      padding: 1rem;

      .show-more-btn button {
        background: none !important;
        border: 1px solid $WHITE;
        font-weight: $FONT_WEIGHT_BOLD;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 205px;
        font-weight: $FONT_WEIGHT_BOLD;
      }

      .year-country {
        padding-bottom: 1rem;
      }

      .name {
        padding-bottom: 0.5rem;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

.ant-pagination {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;

  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    &:hover {
      .anticon {
        color: $VIOLET;
      }
    }
  }

  .ant-pagination-disabled .ant-pagination-item-link {
    color: $WHITE;
    opacity: 0.5;
  }

  .ant-pagination-item {
    font-weight: $FONT_WEIGHT_REGULAR;
    margin-right: 0.5rem;

    &.ant-pagination-item-active {
      border-color: $VIOLET;
    }

    &:hover {
      border-color: $VIOLET;
      background: $WHITE;
      a {
        color: $VIOLET;
      }
    }
  }
}

.scroll-btn {
  position: fixed;
  right: 3rem;
  top: 90vh;
  border-radius: 50%;
  background: unset;
  border: 1px solid $DARK_GRAY;
  height: 3rem;
  width: 3rem;
  color: $DARK_GRAY;
  z-index: 2;

  &:hover {
    cursor: pointer;
    color: $LIGHT_GRAY;
    border-color: $LIGHT_GRAY;
  }
}

@include mobile {
  .scroll-btn{
    width: 2rem;
    height: 2rem;
    right: 1rem;
  }
}