@use '../../lib/styles/variables' as *;

.movies-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;

  .ant-card {
    box-shadow: 0 0 10px $WHITE;
    cursor: unset;
    position: relative;

    .ant-card-body {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
    }

    .overlay {
      background: $BLACK_OPACITY_80;
      border-radius: 6px;
    }

    .ant-card-cover,
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .description {
      position: relative;
      z-index: 2;
      color: $WHITE;
      padding: 1rem;

      .show-more-btn button {
        background: none !important;
        border: 1px solid $WHITE;
        font-weight: $FONT_WEIGHT_BOLD;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 205px;
        font-weight: $FONT_WEIGHT_BOLD;
      }

      .year-country {
        padding-bottom: 1rem;
      }

      .name {
        padding-bottom: 0.5rem;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}
