.error-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background: initial;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
}
