@use '../../../../lib/styles/variables' as *;

.link-container {
  color: inherit;
  text-decoration: none;

  .action-btn {
    padding: 10px;
    background: linear-gradient(45deg, $VIOLET, $FUCHSIA, $VIOLET);
    border: none;

    &:hover:not(:disabled) {
      opacity: 0.8;
    }
  }

  &.show-more-btn {
    .action-btn {
      background: none;
      border: 1px solid $WHITE;

      &:hover:not(:disabled) {
        color: $WHITE;
        background-color: unset;
        border: 1px solid $WHITE;
      }
    }
  }
}
