.movie-container {
  .hero-wrapper {
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;

    .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to left,
        #ac1cb95e 0%,
        #261928f2 25%,
        #00000000 44%,
        #0000007d 75%,
        #0000 93%
      );
    }
    .hero-content {
      position: relative;
      z-index: 2;
      color: white;
      padding: 1rem 3.75rem;

      .title {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .subtitle {
        font-size: 1.5rem;
        color: #ccc;
        margin-bottom: 2rem;
      }

      .dividers-content {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;

        .rating {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
          padding-right: 1rem;
          position: relative;
          top: 1px;
        }

        .rating-title {
          padding-left: 0.75rem;
        }

        .details {
          color: gray;
        }
      }

      .divider {
        height: 1px;
        background: linear-gradient(90deg, transparent, #fff, transparent);
        margin: 1.5rem 0;
      }

      .description,
      .starring {
        line-height: 1.6;
        margin-bottom: 2rem;
        max-width: 500px;
      }
      .watch-btn {
        margin-bottom: 2rem;
      }
    }
  }
}
