@use '../../../../lib/styles/variables' as *;

.movie-card-container {
  width: 100%;
  backdrop-filter: blur(1px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;

  .show-more-btn{
    font-weight: $FONT_WEIGHT_BOLD;
  }

  .bg-image {
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $BLACK_OPACITY_80;
  }

  .poster {
    box-shadow: 0 0 10px $WHITE;
    border-radius: 6px;
    z-index: 2;
  }

  .description {
    z-index: 2;
    margin-left: 4rem;
    .name {
      @include font-display-title;
      padding-bottom: 1rem;
    }

    .year-country,
    .genres {
      color: $WHITE;
      font-weight: 600;
      padding-bottom: 0.75rem;
    }

    button {
      margin-top: 2rem;
    }
    .show-more-btn {
      button {
        background: none !important;
        border: 1px solid $WHITE;
        margin-left: 1rem;

        .ant-btn-icon {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

@include mobile {
  .movie-card-container {
    .description {
      margin-left: 0;
      .name {
        font-size: 20px;
      }
    }
    .poster {
      display: none;
    }
  }
}
