@use '../../../../lib/styles/variables' as *;

.movie-card-container {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(5px);
  display: flex !important;
  align-items: center;
  justify-content: center;

  img {
    box-shadow: 0 0 10px $WHITE;
    border-radius: 6px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $BLACK_OPACITY_80;
    z-index: 1;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  .description {
    margin-left: 4rem;
    .name {
      @include font-display-title;
      padding-bottom: 1rem;
    }

    .year-country,
    .genres {
      color: $WHITE;
      font-weight: 600;
      padding-bottom: 0.75rem;
    }

    button {
      margin-top: 2rem;
    }
    .show-more-btn {
      button {
        background: none !important;
        border: 1px solid $WHITE;
        margin-left: 1rem;

        .ant-btn-icon {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
