@use '../../../../lib/styles/variables' as *;

.movie-card-container {
  img {
    box-shadow: 0 0 10px $WHITE;
    border-radius: 6px;
  }

  .description {
    margin-left: 4rem;
    .name {
      @include font-display-title;
      padding-bottom: 1rem;
    }

    .year-country,
    .genres {
      color: $WHITE;
      font-weight: 600;
      padding-bottom: 0.75rem;
    }

    button {
      margin-top: 2rem;
    }
    .show-more-btn {
      button {
        background: none !important;
        border: 1px solid $WHITE;
        margin-left: 1rem;

        .ant-btn-icon {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
